from django.urls import path
from .views import (
    {{full_model.name}}ListApiView,
    {{full_model.name}}DetailApiView
)

urlpatterns = [
    path('api', {{full_model.name}}ListApiView.as_view()),
    path('api/<int:{{full_model.name.lower()}}_id>/', {{full_model.name}}DetailApiView.as_view()),
]
