# {{ full_model.name }}

## Project setup

### REQUIREMENTS

- python (3.x recommended) & pip (>= 22 recommended)
- docker

### HOW TO SET UP

```
# Put appropriate parameters inside .env
```

#### Install Deps

```console
$ pip install -r requirements.txt
```

##### RUN THE SERVER

```console
$ python server.py
```
