from typing import Union

from pydantic import BaseModel


class {{model}}Base(BaseModel):
    name: str


class {{model}}Create({{model}}Base):
    description: Union[str, None] = None


class {{model}}({{model}}Base):
    id: int
    description: Union[str, None] = None
    created_at: str

    class Config:
        orm_mode = True
